<div style="{{style}}">
	<div style="background-color: white;margin-left:1%;margin-right:1%;position: relative; overflow: auto; max-height: 80vh; ">	
		<div>
			<div style="text-align: center;margin-top:1%" class="popupHeaderFontSize" >{{title}}</div>
		</div>
		
		<div style="padding-bottom:10px;"> <img src="images/red header.png" style="width:100%;"></div>
		
		<div style="display: inline-block;width: 100%;font-weight:bold;">
			<div id="addPlayerValidationMessage" style="color:red;margin-bottom: 2%;text-align: center;"> </div>
			<div style="display: table;width: 80%;     margin-left: 10%;    margin-bottom: 2%;">
			<div style="display: table-row;">
				<div style="display: table-cell;">{{joined_room_message}}</div>
			</div>
			<div style="display: table-row;">
				<div style="display: table-cell;">{{people_message}}</div>
			</div>
			<div style="display: table-row;">
				<div style="display: table-cell; ">{{people}}</div>
			</div>
			<div style="display: table-row;">
				<div style="display: table-cell; ">{{waitingMessage}}</div>
			</div>
			
		</div>
	
		</div>
	</div>
</div>